# Unreal Engine file types.
*.uasset -text
*.umap -text

# Raw Content file types.
*.3ds -text
*.bmp -text
*.exr -text
*.fbx -text
*.jpeg -text
*.jpg -text
*.mov -text
*.mp3 -text
*.mp4 -text
*.obj -text
*.ogg -text
*.png -text
*.psd -text
*.tga -text
*.wav -text
*.xcf -text

# Anything in `/RawContent` dir.
/RawContent/**/* -text